//home page style sheet
page-langue {
    ion-content > div.scroll-content {
        overflow: hidden;
    }
    .big_card{
        //background-size: cover;
        //background-image: url("../assets/imgs/patrol.jpg");
        background-color: rgba(26, 156, 195, 0.199);
        height:98%;
        border-radius: 15px;
        vertical-align: middle;
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }
 
    .scroll-content{
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }
    ion-icon {
        color: black;
        
      }



    .btnscss{
        font-size: xx-large;
        border-radius: 15px;
        text-align: center;
        
    }
    
    .iconscss{
        font-size: xx-large;
   
    }
    .item{
        margin:15px auto;
      }

    .titlescss{
        border-radius: 15px;
        margin-top: 20px;
        font-size:x-large;
        background-color: rgba(26, 156, 195, 0);
    }
    
    .heightstyle{
        width: 50%;
        
    }

    .main_ion_grid{
        border-radius: 15px;
        vertical-align: middle;
        justify-content: center;
        display: flex!important;
        align-items: center!important;
        height: 100% !important;
        width: 100% !important;
        background-color: rgba(26, 156, 195, 0.199);
    }
    
}