//home page style sheet
page-walklogs {

  ion-content > div.scroll-content {
      overflow: hidden;
  }

  ion-col{
    text-align: center;
  }

  .center iframe {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
  }
  ion-select{
        max-width: 100% !important;
    }


 .titrecol {
   font-size:2em;
   font-weight: bold;
   background-color: rgb(184, 207, 245);
   align-items: center;


 }

 .sizecoltab{
   padding: 20px 0px 0px 0px;
   font-size:1.5em;
   width: 100%;
   margin: 0px;
   background-color: rgb(237, 238, 240);
 }



}
