<!-- home page html template -->
<ion-header no-border>
  <headpage pageName="walklogs"></headpage>
</ion-header>

<ion-content padding>

  <div style="height:100%;">
    <ion-grid style="height:100%;">
      <ion-row style="height:100%;">


        <ion-col>

          <ion-row class="titrecol">
            <ion-col>
              <ion-select #select1 (ionChange)="getWalkLogsById($event)" [selectOptions]="selectOptionuser" placeholder="{{this.param.datatext.user}}" (mouseup)="onSliderRelease($event,select1)">
                <ion-option value={{param.datatext.anonymous}}>{{param.datatext.anonymous}}</ion-option>
                <ion-option *ngFor="let row of param.walkuser" value="{{row.username}}">{{row.username}}
                </ion-option>
              </ion-select>
            </ion-col>
            <ion-col>{{this.param.datatext.date}}</ion-col>
            <ion-col>{{this.param.datatext.round}}</ion-col>
            <ion-col>{{this.param.datatext.meters}}</ion-col>
            <ion-col>{{this.param.datatext.duration}}</ion-col>
            <ion-col>{{this.param.datatext.pause}}</ion-col>
            <ion-col>{{this.param.datatext.speed}}</ion-col>
          </ion-row>
          <ion-scroll style="height:90%;width: 100%;" scrollY="true">

            <ion-row class="sizecoltab" *ngFor="let row of walklogstab">
              <ion-col>{{row.walkuser_id}}</ion-col>
              <ion-col>{{row.walk_date}}</ion-col>
              <ion-col>{{row.walk_round}}</ion-col>
              <ion-col>{{row.walk_meters}} m</ion-col>
              <ion-col>{{row.walk_time}} s</ion-col>
              <ion-col>{{row.walk_timeofpauses}} s</ion-col>
              <ion-col>{{row.walk_speed}} m/s</ion-col>
            </ion-row>
          </ion-scroll>


        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



</ion-content>