<!-- mobility support html template -->
<ion-header no-border>
  <headpage pageName="start_assistance"></headpage>
</ion-header>

<ion-content padding id="body">
  <ion-card text-center class="big_card">
    <ion-grid no-padding class="heightstyle">
      <ion-row class="heightstyle" id="firstrow">

        <ion-col col-3>  
          <button (mouseup)="onclickstop($event)" class="btnstop">
            <ion-icon color="light" name="hand" class="icon_style">
              <p class="legende">{{this.param.datatext.btn_stop}}</p>
            </ion-icon>
          </button> 

        </ion-col>

        <ion-col *ngIf="api.position_state===2" no-padding class="goodpose" >
       
        </ion-col>
        <ion-col *ngIf="api.position_state!==2" no-padding class="badpose" >
        
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>