<ion-header no-border>
 
</ion-header>
<ion-content padding >
  <ion-card text-center class="big_card" >
      <ion-grid class="heightstyle">
       
      </ion-grid> 

  </ion-card>
 

</ion-content>