<!-- home page html template -->

<ion-header no-border>
  <headpage pageName="walk"></headpage>
</ion-header>

<ion-content padding id="body">
  <ion-card text-center class="big_card">
    <ion-grid no-padding class="heightstyle">
      <ion-row class="heightstyle" id="firstrow">

        <ion-col col-sm-3>

          <ion-item class="itemselectspeed" *ngIf="api.walker_states.status!==3">
            <ion-label fixed style="color:white; margin-left: 10px;">{{param.datatext.speed}}</ion-label>
            <ion-select #select1 okText={{param.datatext.btn_ok}} cancelText={{param.datatext.btn_cancel}}
              class="myCustomSelectPOI" [selectOptions]="selectOptionspeed" [(ngModel)]="api.selectSpeed" (mouseup)="onSliderRelease($event,select1)">
              <ion-option [value]=0.1>10 cm/s</ion-option>
              <ion-option [value]=0.2>20 cm/s</ion-option>
              <ion-option [value]=0.3>30 cm/s</ion-option>
              <ion-option [value]=0.4>40 cm/s</ion-option>
              <ion-option [value]=0.5>50 cm/s</ion-option>
              <ion-option [value]=0.6>60 cm/s</ion-option>
              <ion-option [value]=0.7>70 cm/s</ion-option>

            </ion-select>
          </ion-item>
          <ion-item class="itemselectspeed" *ngIf="api.walker_states.status!==3">
            <ion-label fixed style=" color:white; margin-left: 10px; ">{{param.datatext.walkzone}} </ion-label>
            <ion-select #select2 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              class="myCustomSelectPOI" [selectOptions]="selectOptionsWalkZone" [(ngModel)]="api.selectWalkZone"
              placeholder={{param.datatext.choose_walkzone}} (mouseup)="onSliderRelease($event,select2)">
              <ion-option [value]=0.4>40 cm</ion-option>
              <ion-option [value]=0.45>45 cm</ion-option>
              <ion-option [value]=0.5>50 cm</ion-option>
              <ion-option [value]=0.55>55 cm</ion-option>
              <ion-option [value]=0.6>60 cm</ion-option>
              <ion-option [value]=0.65>65 cm</ion-option>
              <ion-option [value]=0.70>70 cm</ion-option>

            </ion-select>
          </ion-item>
          <!-- the Go button is disabled if the robot is not connected or if it detects no one -->
          <button *ngIf="api.walker_states.status!=3" (mouseup)="btnresume($event)"
            [disabled]="api.walker_states.status===2 || !api.is_connected || this.finish" class="btnwalk">
            <ion-icon color="light" name="walk" class="icon_style">
              <p class="legende">
                {{this.param.datatext.btn_walk}}
              </p>
            </ion-icon>
          </button>
          <button *ngIf="api.walker_states.status===3" (mouseup)="onlyClick_Pause($event)" class="btnpause">
            <ion-icon color="light" name="hand" class="icon_style">
              <p class="legende">{{this.param.datatext.btn_pause}}</p>
            </ion-icon>
          </button>
          <button *ngIf="api.walker_states.status!=3" (mouseup)="onlyClick_Stop($event)" class="btnstop">
            <ion-icon color="light" name="hand" class="icon_style">
              <p class="legende">{{this.param.datatext.btn_stop}}</p>
            </ion-icon>
          </button>

        </ion-col>

        <ion-col no-padding class="colmeter">

          <ion-item no-padding no-lines class="item_style">
            <ion-row>

              <ion-col col-sm-6 no-padding>
                <p class="distance_text">
                  {{this.param.datatext.timewalk}}
                </p>
                <p class="distance">
                  {{this.param.tablewalklogs.walk_time}} s
                </p>
              </ion-col>
              <ion-col col-sm-6 no-padding>
                <p class="distance_text">
                  {{this.param.datatext.distance_covered}}
                </p>
                <p class="distance">
                  {{api.metercovered}} m
                </p>
              </ion-col>
            </ion-row>


          </ion-item>
          <ion-item no-padding no-lines class="item_style">

            <ion-icon *ngIf="api.walker_states.status===3 && this.arrowinfo==='l'" class="arrow_style"
              name="arrow-round-back"></ion-icon>
            <ion-icon *ngIf="api.walker_states.status===3 && this.arrowinfo==='r'" class="arrow_style"
              name="arrow-round-forward"></ion-icon>
            <ion-icon *ngIf="api.walker_states.status===3 && this.arrowinfo==='f'" class="arrow_style"
              name="arrow-round-up"></ion-icon>
            <p *ngIf="api.walker_states.status!=3" class="distance_text">
              {{this.param.datatext.timeofpauses}}
            </p>
            <p *ngIf="api.walker_states.status!=3" class="distance">
              {{this.param.tablewalklogs.walk_timeofpauses}} s
            </p>
          </ion-item>
        </ion-col>

        <ion-col col-sm-3 no-padding>
          <button *ngIf="api.walker_states.status!=3" (mouseup)="sendHelp($event)" [disabled]="is_sendmail"
            class="btnhelp">
            <ion-icon top color="light" name="call" class="icon_style">
              <p class="legende">{{this.param.datatext.btn_help}}</p>
            </ion-icon>
          </button>
          <button *ngIf="api.walker_states.status===3" (mouseup)="sendHelp($event)" [disabled]="is_sendmail"
            class="btnhelp2">
            <ion-icon top color="light" name="call" class="icon_style">
              <p class="legende">{{this.param.datatext.btn_help}}</p>
            </ion-icon>
          </button>
          <div *ngIf="api.walker_states.status===3 && api.position_state===2" no-padding class="goodpose"></div>
          <div *ngIf="api.walker_states.status===3 && api.position_state===1" no-padding class="badpose"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>