// mobility support page style sheet

page-walk {

    ion-content>div.scroll-content {
        overflow: hidden;
    }


    .big_card {
        height: 100%;
        border-radius: 15px;
    }

    .legende {
        font-size: 4vw;
        text-align: center;
        height: 100%;
        color: white;
    }


    .myCustomSelectPOI {

        font-size: 1.5vw;

        margin: 0px !important;

        //border-radius: 15px;
        min-width: 60%;
        max-width: 100;
        //height: 10%;
        //width: 100%;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0);
    }

    .itemselectspeed {
        //font-size:2vw;
        height: 10%;
        background-color: rgba($color: #000000, $alpha: 0.68);
    }


    .btnwalk {
        background-color: rgb(58, 167, 72);
        height: 40%;
        width: 100%;
        text-align: center;
    }

    .btnpause {
        background-color: rgb(209, 0, 25);
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .btnstop {
        background-color: rgb(209, 0, 25);
        height: 40%;

        width: 100%;
        text-align: center;
    }

    .btnhelp {
        background-color: rgba(137, 138, 137, 0.911);
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .btnhelp2 {
        background-color: rgba(137, 138, 137, 0.911);
        height: 50%;
        width: 100%;
        text-align: center;
    }



    .colmeter {
        height: 100%;
        background-size: cover;
        background-image: url("../assets/imgs/assistimg.jpg");

    }

    .icon_style {
        font-size: 7vw;
    }

    .ion_walk_info {
        height: 100%;
    }

    .distance_text {
        font-size: 1.5vw;
        text-align: center;
        color: black;
    }

    .distance {
        font-size: 5vw;
        text-align: center;
        height: 100%;
        color: black;
    }

    .arrow_style {
        font-size: 25vw;

    }

    .item_style {
        height: 50%;
        width: 100%;
        background-size: cover;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .scroll-content {
        justify-content: center;
        display: flex !important;
        align-items: center !important;
    }

    .goodpose {
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgb(238, 238, 238);
        border-bottom-right-radius: 15px;
        background-image: url("../assets/imgs/goodpose.png");
    }

    .badpose {
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgb(238, 238, 238);
        border-bottom-right-radius: 15px;
        background-image: url("../assets/imgs/badpose.png");
    }

    .heightstyle {
        width: 100%;
        height: 100%;
    }

}