<!-- mail page html template -->
<ion-header no-border>
    <headpage pageName="user"></headpage>
  </ion-header>
  
  
  <ion-content class="big-ion-content" padding >
    <ion-card text-center class="big_card" >
      <ion-grid class="heightstyle">
          <ion-item *ngIf="!api.recoface">
            <ion-label class="txt" stacked>{{param.datatext.newuser}}</ion-label>
            <ion-input inputmode="text" [(ngModel)]="inputuser" placeholder="{{param.datatext.user}}"></ion-input>
            <button [disabled]="!inputuser" class="btn-add" (mouseup)="addUser($event)" item-end>
              <ion-icon  color="light" name="person-add"></ion-icon>
            </button>
          </ion-item>
         
          <ion-content
          #content1
          style="height: 80%; width: 100%; background-color: transparent;"
        >
          
            <ion-item *ngFor="let user of this.param.users">
              <ion-icon class="iconscss" name="contact" item-start color="primary"></ion-icon>{{user}}
              <button class="btn-trash" item-end (mouseup)="removeUser($event,user)">
                <ion-icon class="btn-trash" name="trash"></ion-icon>
              </button>
            </ion-item>
          
          </ion-content>
      
      </ion-grid> 
  
  </ion-card>
   
  
  </ion-content>