<ion-header no-border>
  <headpage pageName="recoface"></headpage>
</ion-header>
<ion-content padding>
  <ion-card text-center class="big_card">
    <ion-grid class="heightstyle">
      <ion-row class="heightstyle">
        <ion-col col-5 class="heightstyle2">
          <ion-row>
          <ion-segment id="test" [(ngModel)]="authentify" (ionChange)="handleChangeSeg()">
            <ion-segment-button value="connect" style="font-size: x-large">
              {{param.datatext.connection}}
            </ion-segment-button>
            <ion-segment-button value="login" style="font-size: x-large">
              {{param.datatext.registration}}
            </ion-segment-button>
          </ion-segment>
       
        <ion-item style=" margin-top: 20px !important;">
          <ion-label style="font-size: large">{{param.datatext.uname}} : </ion-label>
          <ion-input  [(ngModel)]="username"  [clearInput]="true"  style="font-size: large" ></ion-input>
        </ion-item>
      
        <ion-item style=" margin-top: 20px !important;">
          <ion-label style="font-size: large">{{param.datatext.loginshapes}} : </ion-label>
          <ion-input  [(ngModel)]="login"  [clearInput]="true"  style="font-size: large" [type]="hidel ? 'password' : 'text'"></ion-input>
          <ion-icon style="font-size: large;" slot="end" [name]="hidel ? 'eye' : 'eye-off'" (click)="hidel = !hidel"></ion-icon>
        </ion-item>
      
        <ion-item style=" margin-top: 20px !important;">
          <ion-label style="font-size: large">{{param.datatext.pswshapes}} : </ion-label>
          <ion-input  [(ngModel)]="password" [clearInput]="true"  style="font-size: large"   [type]="hidep ? 'password' : 'text'"></ion-input>
          <ion-icon style="font-size: large;" slot="end" [name]="hidep ? 'eye' : 'eye-off'" (click)="hidep = !hidep"></ion-icon>
        </ion-item>
        
        <button
        ion-button
        [color]="buttonColor"
        class="btn_cam"
        (mouseup)="clicValidate($event)"
      >
      {{param.datatext.valide}}
      </button></ion-row>

      <ion-row >
      <button
      (mouseup)="anonymous($event)"
      style="
        width: 100%;
        color: rgb(26, 156, 195);
        text-decoration: underline;
        font-size: large;
      "
      ion-button
      clear
    >
      <div>{{param.datatext.anonym}}</div>
    </button>

      </ion-row>
     
         
        </ion-col>

        <ion-col col-7 class="container">

          
            <img class="cssimg" id="imgcompressed" />
          

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
 



</ion-content>