page-recoface {
    ion-content > div.scroll-content {
        overflow: hidden;
    }

    
    .big_card{
        background-size: cover;
        //background-image: url("../assets/imgs/first.jpg");
        //background-color: rgba(26, 156, 195, 0.199);
        height:100%;
        border-radius: 15px;
        
    }
    
    .heightstyle{
        height: 100%;
        
    }
    .heightstyle10 {
        width: 100%;
        height: 10%;
      }
    .heightstyle90 {
        width: 100%;
        height: 90%;
      }
    
    .div_item{
        width: 100%;
        align-items: center;
        margin-bottom: 0px;
    }
    .btn_cam {
        margin: 0px !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        min-height: 60px;
        width: 98%;
        border-radius: 15px;
        font-size: 3vw;
        color: white;
      }
    .scroll-content{
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }
     

  .cssimg{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }


.test{
    overflow:hidden; 
    position: static; 
    height:100%;
    width: 100%;
    flex-grow : 1;
    margin: 0px !important;
    background-color: rgba(26, 156, 195, 0);
  }
    
}
