// mobility support page style sheet

page-chooseassistance {

    ion-content>div.scroll-content {
        overflow: hidden;
    }

    .big_card {
        height: 100%;
        border-radius: 15px;
    }

    .legende {
        font-size: 4vw;
        text-align: center;
        height: 100%;
        color: white;
    }


    .itemselectuser {

        height: 10%;
        border-top-left-radius: 15px;
        background-color: rgba($color: #000000, $alpha: 0.65);
    }

    .itemselectspeed {

        height: 10%;
        background-color: rgba($color: #000000, $alpha: 0.68);
    }

    .itemselectmode {

        height: 10%;
        background-color: rgba($color: #000000, $alpha: 0.70);
    }

    .itemselectpoi {
        height: 10%;
        background-color: rgba($color: #000000, $alpha: 0.73);
    }

    .itemselectround {
        height: 10%;
        background-color: rgba($color: #000000, $alpha: 0.73);
    }

    .btnmap {
        height: 100%;
        width: 100%;
        background-color: rgb(26, 156, 195);
        color: white;
        font-size: larger;
        border-radius: 5px;
    }

    .btnmapinfo {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.604);
        color: white;
        font-size: x-large;
    }

    .myCustomSelect {
        font-size: 1.5vw;
        margin: 0px !important;
        border-top-left-radius: 15px;
        //border-radius: 15px;
        min-width: 60%;
        max-width: 100;
        //height: 10%;
        //width: 100%;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0);
    }

    .myCustomSelectPOI {
        font-size: 1.5vw;

        margin: 0px !important;

        //border-radius: 15px;
        min-width: 60%;
        max-width: 100;
        //height: 10%;
        //width: 100%;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0);
    }

    .btnwalk {
        background-color: rgb(58, 167, 72);
        height: 50%;
        //border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 100%;
        text-align: center;
    }

    .btnstop {
        background-color: rgb(209, 0, 25);
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 100%;
        text-align: center;
    }

    .btnhelp {
        background-color: rgba(137, 138, 137, 0.911);
        height: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 100%;
        text-align: center;
    }

    .item_on_off {
        height: 100%;
        width: 100%;
    }

    .colmeter {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.904);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        //background-size: cover;
        //background-image: url("../assets/imgs/assistimg.jpg");

    }

    .icon_style {
        font-size: 10vw;
    }

    .ion_walk_info {
        height: 100%;
    }

    .distance_text {
        font-size: 3vw;
        text-align: center;
        color: black;
    }

    .distance {
        font-size: 7vw;
        text-align: center;
        height: 100%;
        color: black;
    }

    .refreshicon {
        zoom: 4;
    }

    .refresh {
        height: 50px !important;
        color: rgba(0, 0, 0, 0.89);
        //position: fixed;
        bottom: 3px;
        //margin:0 !important;

    }

    .item_style {
        height: 100%;
        width: 100%;
        background-size: cover;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .scroll-content {
        justify-content: center;
        display: flex !important;
        align-items: center !important;
    }

    .heightstyle {
        width: 100%;
        height: 100%;
    }

    .heightstyle10 {
        width: 100%;
        height: 10%;
    }

    .heightstyle20 {
        width: 100%;
        height: 20%;
    }

    .heightstyle80 {
        width: 100%;
        height: 80%;
    }

    .heightstyle90 {
        width: 100%;
        height: 90%;
    }

    .popover-content {
        min-width: 90% !important;
    }

    .video{
        flex-grow : 1;
       margin: 0px !important;
       vertical-align: middle !important;
       height: 100%;
       width: 100%;
       height: 99%;
       width: auto;
       max-width: 95%;
       position: absolute; /* postulat de départ */
       top: 50%; left: 50%; /* à 50%/50% du parent référent */
       transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
      
    
    }
}