<!-- mobility support html template -->
<ion-header no-border>
  <headpage pageName="choose_assistance"></headpage>
</ion-header>

<ion-content padding id="body">
  <ion-card text-center class="big_card">
    <ion-grid no-padding class="heightstyle">
      <ion-row class="heightstyle" id="firstrow">

        <ion-col col-3>
          <ion-item class="itemselectuser">
            <ion-label fixed style=" color:white; margin-left: 10px;">{{this.param.datatext.user}}</ion-label>
            <ion-select disabled={{api.recoface}} #select1 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              class="myCustomSelect" [selectOptions]="selectOptionuser" [(ngModel)]="api.selectUser"
              placeholder={{this.param.datatext.chooseuser}} (ionChange)="onUserChange($event)" (mouseup)="onSliderRelease($event,select1)">
              <ion-option value={{param.datatext.anonymous}}>{{param.datatext.anonymous}}</ion-option>
              <ion-option *ngFor="let m of this.param.walkuser" value="{{m.username}}">{{m.username}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="itemselectspeed">
            <ion-label fixed style=" color:white; margin-left: 10px;">{{param.datatext.speed}}</ion-label>
            <ion-select #select2 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              class="myCustomSelectPOI" [selectOptions]="selectOptionspeed" [(ngModel)]="api.selectSpeed"
              placeholder={{param.datatext.choose_speed}} (mouseup)="onSliderRelease($event,select2)">
              <ion-option [value]=0.1>10 cm/s</ion-option>
              <ion-option [value]=0.2>20 cm/s</ion-option>
              <ion-option [value]=0.3>30 cm/s</ion-option>
              <ion-option [value]=0.4>40 cm/s</ion-option>
              <ion-option [value]=0.5>50 cm/s</ion-option>
              <ion-option [value]=0.6>60 cm/s</ion-option>
              <ion-option [value]=0.7>70 cm/s</ion-option>
            </ion-select>
          </ion-item>

          <ion-item class="itemselectspeed">
            <ion-label fixed style=" color:white; margin-left: 10px;">{{param.datatext.walkzone}}</ion-label>
            <ion-select #select3 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              class="myCustomSelectPOI" [selectOptions]="selectOptionsWalkZone" [(ngModel)]="api.selectWalkZone"
              placeholder={{param.datatext.choose_walkzone}} (mouseup)="onSliderRelease($event,select3)">
              <ion-option [value]=0.4>40 cm</ion-option>
              <ion-option [value]=0.45>45 cm</ion-option>
              <ion-option [value]=0.5>50 cm</ion-option>
              <ion-option [value]=0.55>55 cm</ion-option>
              <ion-option [value]=0.6>60 cm</ion-option>
              <ion-option [value]=0.65>65 cm</ion-option>
              <ion-option [value]=0.70>70 cm</ion-option>
              <ion-option [value]=0.75>75 cm</ion-option>
              <ion-option [value]=0.80>80 cm</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="itemselectmode">
            <ion-label fixed style=" color:white; margin-left: 10px;">{{this.param.datatext.mode}}</ion-label>
            <ion-select #select4 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              class="myCustomSelectPOI" [selectOptions]="selectOptionmode" [(ngModel)]="api.selectMode"
              placeholder={{this.param.datatext.choosemode}} (mouseup)="onSliderRelease($event,select4)">
              <ion-option value="round">{{this.param.datatext.round}}</ion-option>
              <ion-option value="destination">{{this.param.datatext.destination}}</ion-option>


            </ion-select>
          </ion-item>
          <ion-item class="itemselectpoi" *ngIf="api.selectMode==='destination'">
            <ion-label fixed style=" color:white; margin-left: 10px;">PoI</ion-label>
            <ion-select #select5 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              class="myCustomSelectPOI" [selectOptions]="selectOptionpoi" [(ngModel)]="api.selectDestination"
              placeholder={{this.param.datatext.choosepoi}} (mouseup)="onSliderRelease($event,select5)">
              <ion-option *ngFor="let m of this.api.all_locations" value="{{m.Name}}">{{m.Id}}. {{m.Name}}</ion-option>

            </ion-select>
          </ion-item>
          <ion-item class="itemselectround" *ngIf="api.selectMode==='round'">
            <ion-label fixed style=" color:white; margin-left: 10px;">{{this.param.datatext.round}}</ion-label>
            <ion-select #select6 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              class="myCustomSelectPOI" [selectOptions]="selectOptionround" [(ngModel)]="api.selectRound"
              placeholder={{this.param.datatext.chooseexercice}} (ionChange)="onRoundChange()" (mouseup)="onSliderRelease($event,select6)">
              <ion-option *ngFor="let m of this.api.rounds_current_map" value="{{m.Id}}">{{m.Name}}</ion-option>

            </ion-select>
          </ion-item>
          <!-- the Go button is disabled if the robot is not connected or if it detects no one -->
          <button *ngIf="api.selectMode==='destination' && !api.towardDocking" (mouseup)="startAssistance_page($event)"
            [disabled]=" !api.is_connected || !api.selectDestination" class="btnwalk">
            <ion-icon color="light" name="walk" class="icon_style">
              <p class="legende">
                {{this.param.datatext.btn_walk}}
              </p>
            </ion-icon>
          </button>
          <button *ngIf="api.selectMode==='round' && !api.towardDocking" (mouseup)="startAssistance_page($event)"
            [disabled]="!api.is_connected || !api.selectRound" class="btnwalk">
            <ion-icon color="light" name="walk" class="icon_style">
              <p class="legende">
                {{this.param.datatext.btn_walk}}
              </p>
            </ion-icon>
          </button>


        </ion-col>

        <ion-col no-padding class="colmeter">
          <ion-row class="heightstyle90">
            <ion-col col-12 id="testcol" class="heightstyle">
                <canvas #canvas (wheel)="on_wheel($event);"
                (mouseup)="on_mouse_up($event);" (mousedown)="on_mouse_down($event);" (mousemove)="on_mouse_move($event);"></canvas>
                <img id="imgmap" #imgmap src={{map_url}} crossorigin="anonymous" class="video" style="display:none;" />
            </ion-col>
          </ion-row>
          <ion-row class="heightstyle10">
            <ion-col col-1>
              <button class="btnmap" (mouseup)="on_zoom_out($event)">
                <ion-icon name="search"></ion-icon> -
              </button>
            </ion-col>
            <ion-col col-1>
              <button (mouseup)="on_zoom_in($event)" class="btnmap">
                <ion-icon name="search"></ion-icon> +
              </button>
            </ion-col>
            <ion-col col-4>
              <button class="btnmapinfo">
                {{this.param.datatext.map}} : {{api.mapdata.Name}}
              </button>

            </ion-col>

          </ion-row>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>